<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo small-card__division">
      <img src="https://mhmcdn.manualdohomemmoderno.com.br/?w=781&h=488&quality=100&clipping=crop&url=https://manualdohomemmoderno.com.br/files/2021/06/loki-5-dicas-de-estilo-que-voce-pode-pegar-dos-melhores-looks-dele-loki-5-dicas-de-estilo-que-voce-pode-pegar-dos-melhores-looks-dele-1.jpg" alt="Loki">
    </div>
    <div class="small-card__title small-card__division">
      <h1><a href="#"></a>Text Text Text Text</h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr/>
  </div>
</div>
